.my-td {
    border: 1px solid black;
    padding : 0px 4px 0px 4px;
    min-width: 200px;
    height: 30px;
}

.my-table {
    border-collapse: collapse;
    margin: auto;
}

.my-caption {
    margin-bottom: 20px;
}

.trash {
    border: none;
    background-color: transparent;
}

.tablet-name {
    color: black;
}

.tablet-name:hover {
    text-decoration:none;
}